img {
	max-width: 100%;
}

.text-muted {
	color: #7d97ad;
}

.title-logo {
	height: 100px;
}

.featured-work-project {
	text-align: center;
	height: 350px;
}

.large-main-image {
	width: 100%;
}

.title-name {
	text-align: right;
	text-transform: uppercase;
}
.featured-work-title {
	margin-left: 5px;
	width: 100%;
}

.thick-grey-hr {
	height: 3px;
	background-color: #7d97ad;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
}

.footer-elements-spacing {
	margin-right: 15px;
}

.small-profile-text {
	font-size: 12px;
}

#large-title-name {
	font-size: 3em;
	font-weight: 100;
}

#large-image {
	max-width: 100%;
	width: 100%
}

[class*="zocial-"]:before {
	font-family: 'zocial', sans-serif;
}
